<h1>Title h1</h1>
<h2>Title h2</h2>
<h3>Title h3</h3>
<h4>Title h4</h4>
<h5>Title h5</h5>
<h6>Title h6</h6>
<p>A simple text.</p>
<p>A simple text with some <strong>bold</strong> and <em>italic</em> and <s>strikethrough</s>.</p>
<p>A simple text on multiline. The second line.</p>
<a href="https://www.google.com">I'm an inline-style link</a>
<a href="https://www.google.com" title="Google's Homepage">I'm an inline-style link</a>
<img src="https://placekitten.com/200/300" alt="alt text">
<hr>
<pre><code class="language-php">echo "Hello world!";</code></pre>
<ul>
    <li>foo</li>
    <li>bar
        <ul>
            <li>sub-bar</li>
            <li>sand</li>
        </ul>
    </li>
    <li>baz</li>
</ul>
<blockquote>
    <p>a block quote</p>
    <p>on multiline</p>
</blockquote>
<blockquote>
    <p>a single line</p>
</blockquote>
<!-- This is a comment. Comments are not displayed. -->
<div>
    <p>A test in html</p>
</div>
