<h1>Title h1</h1>
<h2>Title h2</h2>
<h3>Title h3</h3>
<h4>Title h4</h4>
<h5>Title h5</h5>
<h6>Title h6</h6>
<p>A simple text.</p>
<p>A simple text on multiline. The second line.</p>
<p>A simple text with some <strong>strong</strong> and <strong>another part strong</strong> with a "normal" ending.</p>
<hr>
<p><strong>Hey!</strong> You are <em>lucky</em> to have fun <s>here</s>!</p>
<img src="https://placekitten.com/200/300" alt="alt text">
<p>Do inline images works? <img src="https://placekitten.com/50/50" alt="does it?">
</p>
<p>Look at it <a href="https://www.google.com">I'm an inline-style link</a></p>
<p>Here's too <a href="https://www.google.com" title="Google's Homepage">I'm an inline-style link with title</a> duh :P</p>
<pre><code class="language-php">echo &quot;Hello world!&quot;;
</code></pre>
<pre><code class="language-php">echo &#039;foo&#039;;
echo &#039;bar&#039;;
</code></pre>
<pre><code class="language-php">final class Foo {
    public function __construct(
        public readonly string $name,
    ) {
    }
}
</code></pre>
<blockquote><p>a block quote</p>
<p>on multiline</p>
</blockquote>
<blockquote><p>a single line</p>
</blockquote>
<div>
<p>A test in html</p>
</div>
