<h2>PHP</h2>
<pre><code class="language-php">final class Foo {
    public function __construct(
        public readonly string $name,
    ) {
    }
}
</code></pre>
<h2>AWK</h2>
<pre><code class="language-awk">BEGIN {
  POPService  = &quot;/inet/tcp/0/emailhost/pop3&quot;
  RS = ORS = &quot;\r\n&quot;
  print &quot;user name&quot;            |&amp; POPService
  POPService                    |&amp; getline
  print &quot;pass password&quot;         |&amp; POPService
  POPService                    |&amp; getline
  print &quot;retr 1&quot;                |&amp; POPService
  POPService                    |&amp; getline
  if ($1 != &quot;+OK&quot;) exit
  print &quot;quit&quot;                  |&amp; POPService
  RS = &quot;\r\n\\.\r\n&quot;
  POPService |&amp; getline
  print $0
  close(POPService)
}
</code></pre>
<h2>bash</h2>
<pre><code class="language-bash">#!/bin/bash

###### CONFIG
ACCEPTED_HOSTS=&quot;/root/.hag_accepted.conf&quot;
BE_VERBOSE=false

if [ &quot;$UID&quot; -ne 0 ]
then
 echo &quot;Superuser rights required&quot;
 exit 2
fi

genApacheConf(){
 echo -e &quot;# Host ${HOME_DIR}$1/$2 :&quot;
}

echo &#039;&quot;quoted&quot;&#039; | tr -d \&quot; &gt; text.txt
</code></pre>
<h2>diff</h2>
<pre><code class="language-diff">Index: languages/ini.js
===================================================================
--- languages/ini.js    (revision 199)
+++ languages/ini.js    (revision 200)
@@ -1,8 +1,7 @@
 hljs.LANGUAGES.ini =
 {
   case_insensitive: true,
-  defaultMode:
-  {
+  defaultMode: {
     contains: [&#039;comment&#039;, &#039;title&#039;, &#039;setting&#039;],
     illegal: &#039;[^\\s]&#039;
   },

*** /path/to/original timestamp
--- /path/to/new      timestamp
***************
*** 1,3 ****
--- 1,9 ----
+ This is an important
+ notice! It should
+ therefore be located at
+ the beginning of this
+ document!

! compress the size of the
! changes.

  It is important to spell
</code></pre>
<h2>d</h2>
<pre><code class="language-d">#!/usr/bin/rdmd
// Computes average line length for standard input.
import std.stdio;

/+
  this is a /+ nesting +/ comment
+/

enum COMPILED_ON = __TIMESTAMP__;  // special token

enum character = &#039;&copy;&#039;;
enum copy_valid = &#039;&amp;copy;&#039;;
enum backslash_escaped = &#039;\\&#039;;

// string literals
enum str = `hello &quot;world&quot;!`;
enum multiline = r&quot;lorem
ipsum
dolor&quot;;  // wysiwyg string, no escapes here allowed
enum multiline2 = &quot;sit
amet
\&quot;adipiscing\&quot;
elit.&quot;;
enum hex = x&quot;66 6f 6f&quot;;   // same as &quot;foo&quot;

#line 5

// float literals
enum f = [3.14f, .1, 1., 1e100, 0xc0de.01p+100];

static if (something == true) {
   import std.algorithm;
}

void main() pure nothrow @safe {
    ulong lines = 0;
    double sumLength = 0;
    foreach (line; stdin.byLine()) {
        ++lines;
        sumLength += line.length;
    }
    writeln(&quot;Average line length: &quot;,
        lines ? sumLength / lines : 0);
}
</code></pre>
<h2>dockerfile</h2>
<pre><code class="language-dockerfile"># Example instructions from https://docs.docker.com/reference/builder/
FROM ubuntu:14.04

MAINTAINER example@example.com

ENV foo /bar
WORKDIR ${foo}   # WORKDIR /bar
ADD . $foo       # ADD . /bar
COPY \$foo /quux # COPY $foo /quux
ARG   VAR=FOO

RUN apt-get update &amp;&amp; apt-get install -y software-properties-common\
    zsh curl wget git htop\
    unzip vim telnet
RUN [&quot;/bin/bash&quot;, &quot;-c&quot;, &quot;echo hello ${USER}&quot;]

CMD [&quot;executable&quot;,&quot;param1&quot;,&quot;param2&quot;]
CMD command param1 param2

EXPOSE 1337

ENV myName=&quot;John Doe&quot; myDog=Rex\ The\ Dog \
    myCat=fluffy

ENV myName John Doe
ENV myDog Rex The Dog
ENV myCat fluffy

ADD hom* /mydir/        # adds all files starting with &quot;hom&quot;
ADD hom?.txt /mydir/    # ? is replaced with any single character

COPY hom* /mydir/        # adds all files starting with &quot;hom&quot;
COPY hom?.txt /mydir/    # ? is replaced with any single character
COPY --from=foo / .

ENTRYPOINT [&quot;executable&quot;, &quot;param1&quot;, &quot;param2&quot;]
ENTRYPOINT command param1 param2

VOLUME [&quot;/data&quot;]

USER daemon

LABEL com.example.label-with-value=&quot;foo&quot;
LABEL version=&quot;1.0&quot;
LABEL description=&quot;This text illustrates \
that label-values can span multiple lines.&quot;

WORKDIR /path/to/workdir

ONBUILD ADD . /app/src

STOPSIGNAL SIGKILL

HEALTHCHECK --retries=3 cat /health

SHELL [&quot;/bin/bash&quot;, &quot;-c&quot;]
</code></pre>
<h2>gherkin</h2>
<pre><code class="language-gherkin"># language: en
Feature: Addition
  In order to avoid silly mistakes
  As a math idiot
  I want to be told the sum of two numbers

  @this_is_a_tag
  Scenario Outline: Add two numbers
    * I have a calculator
    Given I have entered &lt;input_1&gt; into the calculator
    And I have entered &lt;input_2&gt; into the calculator
    When I press &lt;button&gt;
    Then the result should be &lt;output&gt; on the screen
    And I have a string like
    &quot;&quot;&quot;
    Here is
    some
    multiline text
    &quot;&quot;&quot;

  Examples:
    | input_1 | input_2 | button | output |
    | 20      | 30      | add    | 50     |
    | 2       | 5       | add    | 7      |
    | 0       | 40      | add    | 40     |
</code></pre>
<h2>go</h2>
<pre><code class="language-go">package main

import &quot;fmt&quot;

func main() {
    ch := make(chan float64)
    ch &lt;- 1.0e10    // magic number
    x, ok := &lt;- ch
    defer fmt.Println(`exitting now\`)
    go println(len(&quot;hello world!&quot;))
    return
}
</code></pre>
<h2>http</h2>
<pre><code class="language-http">POST /task?id=1 HTTP/1.1
Host: example.org
Content-Type: application/json; charset=utf-8
Content-Length: 137

{
  &quot;status&quot;: &quot;ok&quot;,
  &quot;extended&quot;: true,
  &quot;results&quot;: [
    {&quot;value&quot;: 0, &quot;type&quot;: &quot;int64&quot;},
    {&quot;value&quot;: 1.0e+3, &quot;type&quot;: &quot;decimal&quot;}
  ]
}
</code></pre>
<h2>HTML</h2>
<pre><code class="language-html">&lt;!DOCTYPE html&gt;
&lt;title&gt;Title&lt;/title&gt;

&lt;style&gt;body {width: 500px;}&lt;/style&gt;

&lt;script type=&quot;application/javascript&quot;&gt;
  function $init() {return true;}
&lt;/script&gt;

&lt;body&gt;
  &lt;p checked class=&quot;title&quot; id=&#039;title&#039;&gt;Title&lt;/p&gt;
  &lt;!-- here goes the rest of the page --&gt;
&lt;/body&gt;
</code></pre>
<h2>TOML, also ini</h2>
<pre><code class="language-ini">; boilerplate
[package]
name = &quot;some_name&quot;
authors = [&quot;Author&quot;]
description = &quot;This is \
a description&quot;

[[lib]]
name = ${NAME}
default = True
auto = no
counter = 1_000
</code></pre>
<h2>json</h2>
<pre><code class="language-json">[
  {
    &quot;title&quot;: &quot;apples&quot;,
    &quot;count&quot;: [12000, 20000],
    &quot;description&quot;: {&quot;text&quot;: &quot;...&quot;, &quot;sensitive&quot;: false}
  },
  {
    &quot;title&quot;: &quot;oranges&quot;,
    &quot;count&quot;: [17500, null],
    &quot;description&quot;: {&quot;text&quot;: &quot;...&quot;, &quot;sensitive&quot;: false}
  }
]
</code></pre>
<h2>makefile</h2>
<pre><code class="language-makefile"># Makefile

BUILDDIR      = _build
EXTRAS       ?= $(BUILDDIR)/extras

.PHONY: main clean

main:
	@echo &quot;Building main facility...&quot;
	build_main $(BUILDDIR)

clean:
	rm -rf $(BUILDDIR)/*
</code></pre>
<h2>markdown</h2>
<pre><code class="language-markdown"># hello world

you can write text [with links](http://example.com) inline or [link references][1].

* one _thing_ has *em*phasis
* two __things__ are **bold**

[1]: http://example.com

---

hello world
===========

&lt;this_is inline=&quot;xml&quot;&gt;&lt;/this_is&gt;

&gt; markdown is so cool

    so are code segments

1. one thing (yeah!)
2. two thing `i can write code`, and `more` wipee!
</code></pre>
<h2>nginx</h2>
<pre><code class="language-nginx">user  www www;
worker_processes  2;
pid /var/run/nginx.pid;
error_log  /var/log/nginx.error_log  debug | info | notice | warn | error | crit;

events {
    connections   2000;
    use kqueue | rtsig | epoll | /dev/poll | select | poll;
}

http {
    log_format main      &#039;$remote_addr - $remote_user [$time_local] &#039;
                         &#039;&quot;$request&quot; $status $bytes_sent &#039;
                         &#039;&quot;$http_referer&quot; &quot;$http_user_agent&quot; &#039;
                         &#039;&quot;$gzip_ratio&quot;&#039;;

    send_timeout 3m;
    client_header_buffer_size 1k;

    gzip on;
    gzip_min_length 1100;

    #lingering_time 30;

    server {
        server_name   one.example.com  www.one.example.com;
        access_log   /var/log/nginx.access_log  main;

        rewrite (.*) /index.php?page=$1 break;

        location / {
            proxy_pass         http://127.0.0.1/;
            proxy_redirect     off;
            proxy_set_header   Host             $host;
            proxy_set_header   X-Real-IP        $remote_addr;
            charset            koi8-r;
        }

        location /api/ {
            fastcgi_pass 127.0.0.1:9000;
        }

        location ~* \.(jpg|jpeg|gif)$ {
            root         /spool/www;
        }
    }
}
</code></pre>
<h2>perl</h2>
<pre><code class="language-perl"># loads object
sub load
{
  my $flds = $c-&gt;db_load($id,@_) || do {
    Carp::carp &quot;Can`t load (class: $c, id: $id): &#039;$!&#039;&quot;; return undef
  };
  my $o = $c-&gt;_perl_new();
  $id12 = $id / 24 / 3600;
  $o-&gt;{&#039;ID&#039;} = $id12 + 123;
  #$o-&gt;{&#039;SHCUT&#039;} = $flds-&gt;{&#039;SHCUT&#039;};
  my $p = $o-&gt;props;
  my $vt;
  $string =~ m/^sought_text$/;
  $items = split //, &#039;abc&#039;;
  $string //= &quot;bar&quot;;
  for my $key (keys %$p)
  {
    if(${$vt.&#039;::property&#039;}) {
      $o-&gt;{$key . &#039;_real&#039;} = $flds-&gt;{$key};
      tie $o-&gt;{$key}, &#039;CMSBuilder::Property&#039;, $o, $key;
    }
  }
  $o-&gt;save if delete $o-&gt;{&#039;_save_after_load&#039;};

  # GH-117
  my $g = glob(&quot;/usr/bin/*&quot;);

  return $o;
}

__DATA__
@@ layouts/default.html.ep
&lt;!DOCTYPE html&gt;
&lt;html&gt;
  &lt;head&gt;&lt;title&gt;&lt;%= title %&gt;&lt;/title&gt;&lt;/head&gt;
  &lt;body&gt;&lt;%= content %&gt;&lt;/body&gt;
&lt;/html&gt;
__END__

=head1 NAME
POD till the end of file
</code></pre>
<h2>plaintext</h2>
<pre><code class="language-plaintext">Just some plain text
</code></pre>
<h2>rust</h2>
<pre><code class="language-rust">#[derive(Debug)]
pub enum State {
    Start,
    Transient,
    Closed,
}

impl From&lt;&amp;&#039;a str&gt; for State {
    fn from(s: &amp;&#039;a str) -&gt; Self {
        match s {
            &quot;start&quot; =&gt; State::Start,
            &quot;closed&quot; =&gt; State::Closed,
            _ =&gt; unreachable!(),
        }
    }
}
</code></pre>
<h2>shell</h2>
<pre><code class="language-shell">$ echo $EDITOR
vim
$ git checkout main
Switched to branch &#039;main&#039;
Your branch is up-to-date with &#039;origin/main&#039;.
$ git push
Everything up-to-date
$ echo &#039;All
&gt; done!&#039;
All
done!
</code></pre>
<h2>sql</h2>
<pre><code class="language-sql">CREATE TABLE &quot;topic&quot; (
    &quot;id&quot; integer NOT NULL PRIMARY KEY,
    &quot;forum_id&quot; integer NOT NULL,
    &quot;subject&quot; varchar(255) NOT NULL
);
ALTER TABLE &quot;topic&quot;
ADD CONSTRAINT forum_id FOREIGN KEY (&quot;forum_id&quot;)
REFERENCES &quot;forum&quot; (&quot;id&quot;);

-- Initials
insert into &quot;topic&quot; (&quot;forum_id&quot;, &quot;subject&quot;)
values (2, &#039;D&#039;&#039;artagnian&#039;);
</code></pre>
<h2>twig</h2>
<pre><code class="language-twig">{% if posts|length %}
  {% for article in articles %}
  &amp;lt;div&amp;gt;
  {{ article.title|upper() }}

  {# outputs &#039;WELCOME&#039; #}
  &amp;lt;/div&amp;gt;
  {% endfor %}
{% endif %}

{% set user = json_encode(user) %}

{{ random([&#039;apple&#039;, &#039;orange&#039;, &#039;citrus&#039;]) }}

{{ include(template_from_string(&quot;Hello {{ name }}&quot;)) }}


{#
Comments may be long and multiline.
Markup is &amp;lt;em&amp;gt;not&amp;lt;/em&amp;gt; highlighted within comments.
#}
</code></pre>
<h2>xml</h2>
<pre><code class="language-xml">&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; ?&gt;

&lt;routes xmlns=&quot;http://symfony.com/schema/routing&quot;
    xmlns:xsi=&quot;http://www.w3.org/2001/XMLSchema-instance&quot;
    xsi:schemaLocation=&quot;http://symfony.com/schema/routing https://symfony.com/schema/routing/routing-1.0.xsd&quot;&gt;

    &lt;route id=&quot;_preview_error&quot; path=&quot;/{code}.{_format}&quot;&gt;
        &lt;default key=&quot;_controller&quot;&gt;error_controller::preview&lt;/default&gt;
        &lt;default key=&quot;_format&quot;&gt;html&lt;/default&gt;
        &lt;requirement key=&quot;code&quot;&gt;\d+&lt;/requirement&gt;
    &lt;/route&gt;
&lt;/routes&gt;
</code></pre>
<h2>yaml</h2>
<pre><code class="language-yaml">---
# comment
string_1: &quot;Bar&quot;
string_2: &#039;bar&#039;
string_3: bar
inline_keys_ignored: sompath/name/file.jpg
keywords_in_yaml:
  - true
  - false
  - TRUE
  - FALSE
  - 21
  - 21.0
  - !!str 123
&quot;quoted_key&quot;: &amp;foobar
  bar: foo
  foo:
  &quot;foo&quot;: bar

reference: *foobar

multiline_1: |
  Multiline
  String
multiline_2: &gt;
  Multiline
  String
multiline_3: &quot;
  Multiline string
  &quot;

ansible_variables: &quot;foo {{variable}}&quot;

array_nested:
- a
- b: 1
  c: 2
- b
- comment
</code></pre>
