<h1>Title h1</h1>
<h2>Title h2</h2>
<p>A simple text.</p>
<p>A simple text on multiline. The second line.</p>
<p>A simple text with some <strong>strong</strong> and <strong>another part strong</strong> with a "normal" ending.</p>
<p><strong>Hey!</strong> You are <em>lucky</em> to have fun <s>here</s>!</p>
<img src="https://placekitten.com/200/300" alt="alt text">
<p>Look at it <a href="https://www.google.com">I'm an inline-style link</a></p>
<p>Here's too <a href="https://www.google.com" title="Google's Homepage">I'm an inline-style link with title</a> duh :P</p>
